<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intel.wfd">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY" />
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:uiOptions="splitActionBarWhenNarrow"
        android:hardwareAccelerated="true"
        android:supportsRtl="true" >
        <activity
            android:name="com.intel.wfd.MiracastSettings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".widget.MiracastSettingsWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.intel.wfd.widget.miracast_play_on" />
                <action android:name="com.intel.wfd.widget.miracast_disconnect" />
                <action android:name="android.hardware.display.action.WIFI_DISPLAY_STATUS_CHANGED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
    </application>
    

</manifest>